.contenedor-imagen {
  width: 100%;
  height: 95vh; /* Ajusta la altura (60% de la pantalla) */
  overflow: hidden; /* Evita que la imagen sobresalga */
  
}

.contenedor-imagen img {
  width: 100%;
  height: 80%;
  /* La propiedad mágica para que no se deforme */
  object-fit: cover; 
  object-position: center; /* Centra la imagen si se recorta */
}



.video-container {
  /* --- AJUSTA AQUÍ EL TAMAÑO --- */
  width: 100%;          /* Puedes usar px, % o vw */
  height: 80%;       /* Puedes usar px, % o vh */
  
  /* ---------------------------- */

  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px; /* Opcional: bordes redondeados */
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Clave para que no se deforme al cambiar el tamaño */
  z-index: -1;
}

.video-overlay {
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
  z-index: 1;
  text-shadow: 0 2px 10px rgba(0,0,0,0.7);
}