/* Reset básico */
* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Segoe UI', sans-serif; }

/* Escondemos el checkbox */
.checkbox-menu { display: none; }

/* Botón de apertura en el header */
.header {    background-image: linear-gradient(to right, #b44a0f, #fddc24);
     padding: 15px; color: white; }
.btn-open { font-size: 25px; cursor: pointer; }

/* Estilos del Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: -300px; /* Escondido a la izquierda */
  width: 300px;
  height: 100%;
  /* Degradado: del tono original a uno más profundo */
  background: #b56320; 
  background: linear-gradient(180deg, #1535AC 20%, #0C2985 50%);
  transition: left 0.4s ease-in-out;
  z-index: 1000;
  box-shadow: 2px 0px 10px rgba(0,0,0,0.3); /* Sombra para que resalte al salir */
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
    /* Degradado de un verde más oscuro a tu verde original */
    background: linear-gradient(to right, #0C2985, #1535AC );
}

.btn-close { font-size: 20px; cursor: pointer; color: #bdc3c7; }

.nav-links { list-style: none; padding: 20px 0; }
.nav-links li a {
    display: block;
    padding: 15px 25px;
    color: #ecf0f1; 
    text-decoration: none;
    transition: background 0.3s;
}

.nav-links li a:hover { background: #EEC03E; color: #0410b9; }

/* Lógica de apertura con el checkbox */
.checkbox-menu:checked ~ .sidebar {
    left: 0; /* Desliza hacia adentro */
}

/* Overlay (Fondo oscuro) */
.checkbox-menu:checked ~ .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 999;
}

.content { padding: 40px; text-align: center; }



/* Ocultar checkboxes de los submenús */
.sub-checkbox { display: none; }


/* Estilo del botón/label del submenú */
.sub-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    color: #ecf0f1;
    cursor: pointer;
    transition: background 0.3s;
}

.sub-label:hover { background:  #EEC03E; color: #0410b9;}

/* Icono de flecha con rotación */
.arrow {
    font-size: 0.8em;
    transition: transform 0.3s;
}

/* Ocultar el submenú (con animación de altura) */
.submenu {
    list-style: none;
    background: #181962;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

.submenu li a {
    padding: 12px 45px; /* Más sangría para diferenciar niveles */
    font-size: 0.9em;
    color: #bdc3c7;
    border: none;
}

/* Lógica de apertura: cuando el checkbox está marcado */
.sub-checkbox:checked ~ .submenu {
    max-height: 200px; /* Suficiente para mostrar los hijos */
}

/* Rotar flecha al abrir */
.sub-checkbox:checked ~ .sub-label .arrow {
    transform: rotate(180deg);
}
